{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  {% block style %}
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
  </script>
  <link rel="stylesheet" href="{% static "main/css/moviedetail.css" %}">
  <link rel="stylesheet" href="{% static "main/css/signup.css" %}">
  <link rel="stylesheet" href="{% static "main/css/alert.css" %}">
  {% endblock %}

</head>

<body>

  {% block content %}
  <div id="main">

    <div class="single-contatiner">
      <div class="single-poster">
        <img src="https://image.tmdb.org/t/p/w500/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg" alt="...">
      </div>

      <div class="single-info">

        <div class="single-title">
          Raya and the last dragon
        </div>
        <div class="single-detail">
          <div class="set">
            <label>Release Date</label>
            <span>March 3 2021</span>
          </div>
          <div class="set">
            <label>Running Time</label>
            <span>1h40min</span>
          </div>
          <div class="set">
            <label>Genre</label>
            <span>Fantasy / Adventure / Family</span>
          </div>
        </div>

        <div class="single-description">
          <div class="sdtx">
            long time ago...
          </div>
        </div>

        <div class="tagline">
          To be or not to be, that's the question.
        </div>

      </div>

    </div>

</div>

{% if user.is_authenticated %}
<div class="score">
  <form method='post'>
    {% csrf_token %}
      {{form}}

   <!-- <input type="text" name="score" placeholder="what can it get?"> class="isubmit" -->
  <button type="submit" name="button">submit</button>
  </form>
</div>
{%else%}
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  Sorry, you can only rate films when authenticated. (That's not what I said.)
</div>
{% endif %}
  <!-- <button class="isubmit" type="button" name="button">submit</button> -->



  <div id="tcontainer">
    <div id="trailer" class="trailer">
      <iframe padding-top="100px" width="560" height="315" src="https://www.youtube.com/embed/${video_key}" title="${title}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>




  {% endblock %}

  {% block script %}
    <script src="{% static "main/js/detail.js" %}"></script>
  <script>
//得到movieid，不一定会用
var movieid = sessionStorage.getItem('movieId')

var userid = {{user.id}}
var user = {{user}}
console.log(movieid)
console.log(user)
// sessionStorage.setItem('userid',{{user.id}})

// 在这里写ajax提交表单的流程









  </script>


  {% endblock %}

</body>

</html>
