{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="{% static "main/css/base.css" %}">

</head>

<body>
  <!-- header的相关配置    标题 -->
  <header>
    <h1>The Abrakadabra Recommender</h1>
    <h3>By Li Sijia</h3>
  </header>

  <div class="content">
    <div class="search-bar">
      <input type="text" class="search-bar__input" placeholder="enter the full movie name" aria-label="search">
      <button class="search-bar__submit"><i class="fas fa-search" style="color:white" aria-label="submit search"></i></button>
    </div>
  </div>


  <!-- <div class="popularmovie">
        <h2 style="color:white">Popular Movie Recently</h2>
        <input type="text" value="gigi">
      </div> -->
  <h2>Popular Movie Recently</h2>
  <main>
    <div class="popularmovie">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyG28EYPyUVHXxNOvSMvSD2dp797Tk8HcwMg&usqp=CAU" alt="image">
      <div class="movie-info">
        <h4>Movie Title</h4>
        <span class="green">9.8</span>
      </div>
      <div class="overview">
        ddggfygfyudsgfyudsdsug
        bfjdsgfydsgfuidshsyfuds
        hfjkdshfidsyfhidsf
      </div>
    </div>

    <div class="popularmovie">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyG28EYPyUVHXxNOvSMvSD2dp797Tk8HcwMg&usqp=CAU" alt="image">
      <div class="movie-info">
        <h4>Movie Title</h4>
        <span class="green">9.8</span>
      </div>
      <div class="overview">
        ddggfygfyudsgfyudstfg8dsu/
        gbfjdsgfydsgfuidshsyfudshfj
        kdshfidsyfhidsf
      </div>
    </div>








  </main>

  <!-- center的相关配置   搜索 -->
  <!-- <div class="content">
    <div class="search-bar">
      <input type="text" class="search-bar__input" placeholder="enter the full movie name" aria-label="search">
      <button class="search-bar__submit"><i class="fas fa-search" style="color:white" aria-label="submit search"></i></button>
    </div>
  </div> -->


  <!-- 热门电影 -->
  <!-- <div class="popularmovie">
    <h2 style="color:white">Popular Movie Recently</h2>
    <input type="text" value="gigi">
  </div> -->

  <!-- <a href="{% url 'login' %}">login</a> -->
  <script src="{% static "main/js/base.js" %}"></script>
  <script src="https://kit.fontawesome.com/fa03c8eafc.js" crossorigin="anonymous"></script>
</body>

</html>
