{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "main/css/login.css" %}">

{% endblock %}



{% block content %}


<div class="form-part">
  <form class="box" method="post">
    {% csrf_token %}
         <h1>Login Abra</h1>
         <input type="text" name="username" placeholder="Username">
         <input type="password" name="password" placeholder="Password">
         <input type="submit" name="" value="Login">
     </form>
</div>


{% endblock %}

{% block script%}

{%endblock%}
