{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "main/css/mylist.css" %}">
{% endblock %}



{% block content %}

<div id="myList">
<div class="container">
  <div class="title">
    <h1>My Current Brain</h1>
  </div>
</div>

<div  id="picContent" class="content">
  <div class="one-poster">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyG28EYPyUVHXxNOvSMvSD2dp797Tk8HcwMg&usqp=CAU" alt="image">
  </div>
</div>

</div>



{% endblock %}


{% block script %}
<script type="text/javascript">

  var all_rates =JSON.parse('{{all_rates|safe}}')
  ids = []
  for(var i=0; i<all_rates.length; i++){
    id = all_rates[i].fields.movie_id
    ids.push(id)
  }
  console.log(ids)
  const API_KEY = 'api_key=7136a65f97470f2b86c46406fe9bb192';
  const BASE_URL = 'https://api.themoviedb.org/3';
  const IMG_URL = 'https://image.tmdb.org/t/p/w500';
  const picContent = document.getElementById('picContent');
  picContent.innerHTML = '';

  for(var i in ids){
    var MOVIE_URL = BASE_URL + '/movie/' + ids[i] + '?' + API_KEY + '&append_to_response=videos';
    getPic(MOVIE_URL);
  }

  function getPic(url) {
    fetch(url)
      .then(res => res.json())
      .then(data => {
        showPic(data);
      })
  }


  function showPic(data){
      const title = data.title;
      const poster_path = data.poster_path;
    const movieEl = document.createElement('div'); //创建一个div,class为popularmovie
    movieEl.classList.add('one-poster');
    movieEl.innerHTML = `
         <img src="${IMG_URL+poster_path}" alt="{title}">
  `
    picContent.appendChild(movieEl);
  }
//}

  // var ids = [];
  // for(let id of all_rates){
  //   ids.push(id.fields.movie_id);
  // }
  // console.log(ids)
</script>
<!-- <script src="{% static "main/js/mylist.js" %}"></script> -->

{% endblock %}
